{% extends "main.html" %}
{%block body%}
<div class="ui tabular menu">
  <div class="item active" data-tab="tab-name">Server</div>
  <div class="item" data-tab="tab-name2">VM</div>
</div>
<div class="ui tab active" data-tab="tab-name">
<button onclick="openDlg()" class="ui inverted pink button">New Server</button>
<button onclick="loadServerTable()" class="ui icon button"><i class="refresh icon"></i></button>
<table class="ui celled table">
  <thead id="server_header">
  </thead>
  <tbody id="server_table">
  </tbody>
  <!--tfoot>
    <tr><th colspan="3">
      <div class="ui right floated pagination menu">
        <a class="icon item">
          <i class="left chevron icon"></i>
        </a>
        <a class="item">1</a>
        <a class="item">2</a>
        <a class="item">3</a>
        <a class="item">4</a>
        <a class="icon item">
          <i class="right chevron icon"></i>
        </a>
      </div>
    </th>
  </tr></tfoot-->
</table>
</div>
<div class="ui tab" data-tab="tab-name2">
  <!-- Tab Content !-->
</div>

<div id="addServerModal" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    New Server
  </div>
  <div class="image content">
  	<form id="addServerForm" class="ui form">
  		<div  class="field">
  		  <label>Device Name</label>
  		  <input name="DeviceName" placeholder="DeviceName" type="text">
  		</div>
      <div  class="field">
        <label>Device Model</label>
        <div class="ui fluid search normal selection dropdown">
          <input name="DeviceModelId" type="hidden">
          <i class="dropdown icon"></i>
          <div class="default text">Select Device Model</div>
          <div id="DeviceModelId_select" class="menu">
            <div class="item" data-value="af">Afghanistan</div>
            <div class="item" data-value="ax">Aland Islands</div>
          </div>
        </div>
      </div>      
	</form>
  </div>
  <div class="actions">
      <button class="ui inverted green button" onclick="addServer()">Submit</button>
  </div>
</div>

<div id="netPortModal" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Net Ports
  </div>
  <div class="image content">
    <table class="ui celled table">
      <thead id="netPort_header">
      </thead>
      <tbody id="netPort_table">
      </tbody>
    </table>   
  </div>
  <div class="image content"> 
  	<form id="addNetPortForm" class="ui form">
        <input type="hidden" name="DeviceId" placeholder="DeviceId" >
  		<div  class="field">
  		  <label>Ip</label>
  		  <input name="Ip" placeholder="Ip" type="text">
  		</div>
	 </form>
  </div>
  <div class="actions">
      <button class="ui inverted green button" onclick="addNetport()">New</button>
  </div>
</div>

<div id="spaceModal" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    space
  </div>
  <div class="image content">
    <table class="ui celled table">
      <thead id="netPort_header">
      </thead>
      <tbody id="space_table">
      </tbody>
    </table>   
  </div>
  <div class="image content"> 
    <div class="ui fluid search normal selection dropdown">
      <input id="CabinetId_select_val" name="country" type="hidden" onchange="loadCabinetSpace()">
      <i class="dropdown icon"></i>
      <div class="default text">Select Country</div>
      <div class="menu" id="CabinetId_select">
        <div class="item" data-value="af"></i>Afghanistan</div>
        <div class="item" data-value="ax"></i>Aland Islands</div>
      </div>
    </div>
  </div>
  <div>
      <table id="cabinetSpace_table" class="ui celled table" style="width:30%;left:30%;position:relative;">

      </table>
  </div>
</div>

{%end%}
{%block js_to_run%}
<script type="text/javascript">   
var columns=[{'name':'DeviceId'},{'name':'DeviceName'},{'name':'Hostname'},{'name':'Serial'},{'name':'Os'},{'name':'Release'},{'name':'Memsize'},{'name':'LastChangeTime','type':'time'},{'name':'NetPorts','type':'button','func_name':'openNetPort'},{'name':'Space','type':'button','func_name':'openSpace'}]
var columnsNetport=[{'name':'NetPortId'},{'name':'Mac'},{'name':'Ipv4Int','type':'ipv4'},{'name':'Type'}]

function initServerTableHeader(){
	var head_arr=[]
	head_arr.push("<tr>")
	$.each(columns,function(k,v){
		head_arr.push("<th>")
		head_arr.push(v['name'])
		head_arr.push("</th>")
	})
  head_arr.push("<th></th>")
	head_arr.push("</tr>")
	$('#server_header').html(head_arr.join(""))
}
function initNetPortTableHeader(){
  var head_arr=[]
  head_arr.push("<tr>")
  $.each(columnsNetport,function(k,v){
    head_arr.push("<th>")
    head_arr.push(v['name'])
    head_arr.push("</th>")
  })
  head_arr.push("<th></th>")
  head_arr.push("</tr>")
  $('#netPort_header').html(head_arr.join(""))
}


function openDlg(){
	$('#addServerModal').modal('show')
}
function loadServerTable(){
	$('#server_table').html("")
	var html_arr=[]
	var data=ApiGet("server",null).data
	$.each(data,function(k,v){
		html_arr.push("<tr>")
		tmp_html_arr=[]
		for(var i=0;i<columns.length;i++){
			tmp_html_arr.push("<td>")
			if(columns[i]['type'] == 'time'){
				tmp_html_arr.push(Timestamp2string(v[columns[i]['name']]))
			}else if(columns[i]['type'] == 'button'){
				tmp_html_arr.push('<button onclick="'+columns[i]['func_name']+'('+v[columns[0]['name']]+')" class="ui inverted olive button">'+columns[i]['name']+'</button>')
			}else{
				tmp_html_arr.push(v[columns[i]['name']])
			}
			tmp_html_arr.push("</td>")
		}
    tmp_html_arr.push('<td style="color:red;font-weight: 900;"><p onclick="deleteServer('+v["DeviceId"]+')">X</p></td>')
		html_arr.push(tmp_html_arr.join(""))
		html_arr.push("</tr>")
	})
	$('#server_table').html(html_arr.join(""))
}
function loadNetPortTable(device_id){
  $('#netPort_table').html("")
  $('#addNetPortForm input').val(device_id)
  var html_arr=[]
  var data=ApiGet("netPort",{"DeviceId":device_id}).data
  $.each(data,function(k,v){
    html_arr.push("<tr>")
    var tmp_html_arr=[]
    for(var i=0;i<columnsNetport.length;i++){
      tmp_html_arr.push("<td>")
      if(columnsNetport[i]['type'] == 'time'){
        tmp_html_arr.push(Timestamp2string(v[columnsNetport[i]['name']]))
      }else if(columnsNetport[i]['type'] == 'button'){
        tmp_html_arr.push('<button onclick="'+columnsNetport[i]['func_name']+'('+v[columnsNetport[0]['name']]+')" class="ui inverted olive button">'+columnsNetport[i]['name']+'</button>')
      }else if(columnsNetport[i]['type'] == 'ipv4'){
        tmp_html_arr.push(Ip4vInt2string(v[columnsNetport[i]['name']]))
      }else{
        tmp_html_arr.push(v[columnsNetport[i]['name']])
      }
      tmp_html_arr.push("</td>")
    }
    tmp_html_arr.push('<td style="color:red;font-weight: 900;"><p onclick="deleteNetPort('+device_id+','+v["NetPortId"]+')">X</p></td>')
    html_arr.push(tmp_html_arr.join(""))
    html_arr.push("</tr>")
  })
  $('#netPort_table').html(html_arr.join(""))
}
function deleteServer(id){
  DeleteDevice(id)
  loadServerTable()
}
function addServer(){
	var data=$('#addServerForm').serializeArray()
	var r=ApiPost("server",data)
	if(!r.success){
		alert(r.message)
	}else{
		loadServerTable()
		$('#addServerModal').modal('hide')
	}
}

function deleteNetPort(device_id,netPort_id){
  DeleteNetPort(device_id,netPort_id)
  loadNetPortTable(device_id)
}
function addNetport(){
  var data=$('#addNetPortForm').serializeArray()
  data.push({"name":"Ipv4Int","value":String2ip4vInt(data[1]['value'])})
  var r=ApiPost("netPort",data)
  if(!r.success){
    alert(r.message)
  }else{
    loadNetPortTable(data[0]['value'])
  }  
}

function openNetPort(device_id){
  loadNetPortTable(device_id)
  $('#netPortModal').modal('show')
}

function openSpace(){
  initSpaceModel()
  $('#spaceModal').modal('show')
}
function initServerModel(){
  var html_arr=[]
  $.each(GetDeviceModel(),function(k,v){
    html_arr.push('<div class="item" data-value="'+v.DeviceModelId+'">'+v.DeviceModelName+'</div>')
  })
  $('#DeviceModelId_select').html(html_arr.join(""))
}
function initSpaceModel(){
  var html_arr=[]
  $.each(GetCabinet(),function(k,v){
    html_arr.push('<div class="item" data-value="'+v.CabinetId+'">'+v.CabinetName+'</div>')
  })
  $('#CabinetId_select').html(html_arr.join(""))
}
function loadCabinetSpace(){
  var html_arr=[]
  $.each(GetCabinetSpace($('#CabinetId_select_val').val()),function(k,v){
    if(v.DeviceId==null){
      html_arr.unshift('<tr upostion="'+v.UPosition+'"><td><a>add</a></td></tr>')
    }else{
      html_arr.unshift('<tr upostion="'+v.UPosition+'"  device_id="'+v.DeviceId+'"  style="background-color: gray;"><td></td></tr>')
    }
  })
  $('#cabinetSpace_table').html(html_arr)
}

initSpaceModel()
initServerModel()
initServerTableHeader()
loadServerTable()
initNetPortTableHeader()
$('.ui.dropdown')
  .dropdown()
</script>
{%end%}