<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Venus</title>
    <link rel="stylesheet" type="text/css" href="static/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/tab.min.css">
    {%block head%}{%end%}
</head>

<body id="page-top" class="index">
  <div class="ui inverted  menu">
    {%for i,j in [("Home","/home"),("Device","/device"),("Space","/space")]%}
      <a id="{{i}}MenuItem" class="item" href="{{j}}">
        {{i}}
      </a>
    {%end%}
      <div class="right menu">
        <div class="item">
          <div class="ui icon input">
            <input placeholder="Search..." type="text">
            <i class="search link icon"></i>
          </div>
        </div>
        <a class="ui item">
          Logout
        </a>
      </div>
    </div>  
  {%block body%}{%end%}
</body>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/semantic.min.js"></script>
    <script src="static/js/tab.min.js"></script>
    <script src="static/js/venus.js"></script>
    {%block js%}{%end%}
    <script>
    $('.tabular.menu .item').tab();
    </script>
    {%block js_to_run%}{%end%}
</html>