{% extends "main.html" %}
{%block head%}
{%end%}
{%block body%}
<div class="ui tabular menu">
  <div class="item" data-tab="space">Space</div>
  <div class="item" data-tab="cabinet">Cabinet</div>
</div>
<div class="ui tab" data-tab="space">
  <div id="spaceChart">
  </div>
</div>
<div class="ui tab" data-tab="cabinet">
  <select>
    <option>1</option>
  </select>
  <div id="cabinetChart">
  </div>
</div>
{%end%}
{%block js%}
	<script src="static/js/highcharts/highcharts.js"></script>
  <script src="static/js/venus.js"></script>
{%end%}
{%block js_to_run%}
<script>
$("#SpaceMenuItem").attr("class","teal item active")

function getHighChartSeries(n,len){
  if(n==null){
    color="red"
    _name="empty"
  }else{
    color="blue"
    _name=n
  }
  return {name:_name,data:[len],color:color}
}

function mapCabinetSpace(data){
  var arr=[]
  var poArr=[]
  tmp=data[0]['DeviceId']
  tmp_len=0
  for(var i=0;i<data.length;i++){              
    poArr.push(i)  
    if(data[i]['DeviceId']==tmp){
      tmp_len+=1
    }else{
      arr.push(getHighChartSeries(tmp,tmp_len))
      tmp=data[i]['DeviceId']
      tmp_len=1
    }
  }
  arr.push(getHighChartSeries(tmp,tmp_len))
  return [poArr,arr]
}

function loadOneCabinet(cabinet_id){
  var ls=ApiGet("space",{"cabinetId":cabinet_id})['data']
  var result=mapCabinetSpace(ls)
  console.log(result)
  $('#cabinetChart').highcharts({
      chart: {
          type: 'column',
          height: 600,
      },
      title: {
          text: 'Stacked column chart'
      },
      xAxis: {
          categories: ['Apples']
      },
      yAxis: {
          min: 0,
          max:49,
          tickPositions:result[0],
          tickPixelInterval:300,
          allowDecimals:false,
          title: {
              text: 'Total Cabinet'
          }
      },
      plotOptions: {
          column: {
              stacking: 'normal',
          }
      },
      legend:{
        enabled:false
      },
      series: result[1]
  });
}			
loadOneCabinet(1)
</script>
{%end%}